main {
    display: flex;
    font-family: "Arial", sans-serif;
}

.right-column, .left-column {
    height: 100vh;
}

.left-column {
    flex: 1;
    text-align: center;
}

.right-column {
    flex: 2;
    background-color: #e0e0e0;
}



.información {
    text-align: center;
}

.boton {
    width: 30%;
    padding: 15px;
    margin-bottom: 80px;
    font-weight: bold;
    font-family: "Arial Black", serif;
    color: darkorange;
    border: 3px solid darkorange;
    font-size: 15px;
    background-color: rgba(131, 198, 255, 0.32);
    cursor: pointer;

}


.titulo-article {
    margin: 60px 0 0 30px;
    color: dodgerblue;
}

.linea-horizontal {
    width: 95%; /* Ajusta el ancho al 100% del contenedor */
    height: 2px; /* Altura de la línea */
    background-color: #4392da; /* Color de la línea */
    margin-left: 30px;
}

.cancha_favorita {
    width: 80%;
    margin-left: 30px;
}