* {
    box-sizing: border-box
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
table {
    width: 100%;
    border-collapse: collapse;
    font-family: "Arial", sans-serif;
    margin-top: 25px;

}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
img {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}
.profile_picture{
    height: 75px;
    width: 75px;
    border-radius: 50%; /* Hace que la imagen tenga una forma circular */
}
#first_ranked{
    background-color: #CBB809;
}
#second-ranked{
    background-color: #A2C7DC;
}
#third-ranked{
    background-color: #B87D34;
}
.contenido_terminos_condiciones {
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}
.title_terminos_condiciones {
    color: #FF7C00;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border: 4px solid #FF7C00;
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
}
.presentacion_terminos_condiciones {
    font-size: 16px;
}
.apartado_terminos_condiciones {
    font-size: 18px;
}
.seccion_terminos_condiciones {
    font-size: 14px;
    padding-left: 40px; /* Agregar sangría alrededor del contenido */
}