.footer {
    display: flex;
    align-items: center;
    padding: 20px 20px;
    background-color: #ffffff;
    font-family: "Arial", sans-serif;
    justify-content: space-between;
}

.footer__ul {
    list-style-type: none;
    margin-left: 70px;
    text-align: center;
    display: inline-block;
}

.footer__ul--li {
    text-decoration: none;
    color: black;
}

li {padding-bottom: 30px}

.footer__div {
    display: flex;
}

.footer__logo {
    margin-right: 200px;
}

img {margin-right: 60px}