main {
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://images.unsplash.com/photo-1543633550-f431af584afd?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDkzfHxiYXNrZXRiYWxsfGVufDB8fHx8MTcwODM4Mzc2OXww&ixlib=rb-4.0.3&h=1500");
}

.card {
    border: 4px solid #ff7c00;
    background-color: #dcdcdc;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 40%;
    flex-direction: column;

}

.card-form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 30px;
}

input {
    text-align: center;
    width: 250px;
    margin: 0 30px 30px 0;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ff7c00;
    font-weight: bold;
    cursor: pointer;
}

input[type="email"] {
    width: 540px;
    margin-left: 30px;

}

input:last-child{
    margin: 0;
}

.profile-container {
    position: relative;
    display: inline-block; /* Asegura que el contenedor tenga el tamaño de su contenido */
}

#profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 50px;
}

#file-input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.file-label {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5); /* Transparencia para el botón */
    top: 0;
    left: 0;
    cursor: pointer;
}
.edit-page-islandinput {
    text-align: center;
    width: 150px;
    margin: 0 30px 30px 0;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ff7c00;
    font-weight: bold;
    cursor: pointer;
}
.edit-page-placedinput {
    text-align: center;
    width: 250px;
    margin: 0 30px 30px 0;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ff7c00;
    font-weight: bold;
    cursor: pointer;
}
.edit-page-positioninput {
    text-align: center;
    width: 200px;
    margin: 0 30px 30px 0;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ff7c00;
    font-weight: bold;
    cursor: pointer;
}
.card-form {
    font-family: Helvetica, Arial, sans-serif;
    color: #ff7c00;
    font-weight: bold;
    margin: 0; /* Elimina el margen por defecto del body */
    padding: 0; /* Elimina el relleno por defecto del body */
    overflow: hidden; /* Evita la barra de desplazamiento horizontal */
}

@media screen and (max-width: 768px) {
    main {
        margin-top: -180px;
        background-color: white;
        background-image: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: -110px;
    }
    .card {
        border: none;
        background-color: white;
        width: 90%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .card-form {
        display: flex;
        flex-direction: column;
    }
    .profile-container {
        text-align: center;
    }
    .profile-container img {
        max-width: 100%;
        border-radius: 50%;
    }
    #nombre,
    #apellidos,
    #island,
    #municipality,
    #position,
    input[type="text"],
    input[type="email"],
    input[type="number"],
    select {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ff7c00;
        border-radius: 5px;
        box-sizing: border-box;
    }
    input[type="submit"] {
        width: 90%;
        padding: 10px;
        background-color: #ff7c00;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}

@media screen and (min-width: 769px) and (max-width: 1400px) {
    main {
        margin-top: 50px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: -110px;
    }
    .card {
        border: none;
        background-color: white;
        width: 90%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .card-form {
        display: flex;
        flex-direction: column;
    }
    .profile-container {
        text-align: center;
    }
    .profile-container img {
        max-width: 100%;
        border-radius: 50%;
    }
    #nombre,
    #apellidos,
    #island,
    #municipality,
    #position,
    input[type="text"],
    input[type="email"],
    input[type="number"],
    select {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ff7c00;
        border-radius: 5px;
        box-sizing: border-box;
    }
    input[type="submit"] {
        width: 90%;
        padding: 10px;
        background-color: #ff7c00;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}