#filter-button,
#add-match-button {
    background: white;
    padding: 1em 2em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    outline: 0;
    text-align: left;
    min-width: 150px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center; /* Centra verticalmente el contenido */
    color: #FF7C00;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #FF7C00; /* Borde naranja */
    border-radius: 5px;
}
#filter-button,
#add-match-button {
    background: white;
    padding: 1em 2em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    outline: 0;
    text-align: left;
    min-width: 150px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center; /* Centra verticalmente el contenido */
    color: #FF7C00;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #FF7C00; /* Borde naranja */
    border-radius: 5px;
}
#filter-button::after,
#add-match-button::after {
    content: "";
    background-image: url('../images/plus-vector.png');
    background-size: cover; /* Ajusta el tamaño de la imagen */
    display: inline-block; /* Para que el pseudo-elemento tenga dimensiones */
    width: 20px; /* Ancho deseado de la imagen */
    height: 20px; /* Altura deseada de la imagen */
    margin-left: 5px; /* Espacio entre el texto del botón y la imagen */
}

ul {
    list-style: none;
}
label {
    cursor: pointer;
}
ul, li {
    margin: 0;
    padding: 0;
}
li {
    padding: 0.5em;
}
.filters {
    width: 250px;
    box-shadow: 0 0 0.5em 0 rgba(0,0,0,0.3);
    padding: 1.5em;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #FF7C00;
    background-color: #ffffff;
    z-index: 1000;
}
.filters-list li {
    display: flex;
    align-items: center;
    user-select: none;
    padding-bottom: 1em;
    line-height: 0;
}
.filters-list li:last-child {
    padding-bottom: 0;
}
input[type="checkbox"] {
    margin-right: 0.5em;
}
.filters:not(.filters--active) {
    display: none;
}
#filter-button {
    background: white;
    padding: 1em 2em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    outline: 0;
    text-align: left;
    min-width: 150px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    color: #FF7C00;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #FF7C00;
    border-radius: 5px;
}
#filter-button::after {
    content: " ";
    background-image: url('../images/filtro-vector.png');
    background-size: cover;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
#filter-button--highlight::after {
    content: "✓";
}