.componente {
    border: 4px solid #FF7C00; /* Borde naranja */
    padding: 20px;
    width: 60px;
    height: 80px;
    text-align: center;
}

.imagen-container {
    position: relative; /* Posición relativa para superponer la línea */
    margin-bottom: 10px;
}

.imagen {
    width: 50px; /* Tamaño de la imagen */
    height: auto;
}

.linea {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #FF7C00;
}

.texto {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}