.container-cancha {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px solid #4e4eff;
}

h1 {
    margin-left: 30px;
    color: #ff5c1f;
}

.favorito {
    color: gold;
    font-size: 50px;
    cursor: pointer;
    margin: 15px 50px 15px 0;
}