<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filtro</title>
    <link rel="stylesheet" href="filter_button.css">
</head>
<body>
<button id="filter-button" class="button">Filtros</button>
<div id="filter-container" class="filters">
    <ul class="filters-list">
        <li>
            <input id="f1" type="checkbox"/>
            <label for="f1">1 contra 1</label>
        </li>
        <li>
            <input id="f2" type="checkbox"/>
            <label for="f2">2 contra 2</label>
        </li>
        <li>
            <input id="f3" type="checkbox"/>
            <label for="f3">3 contra 3</label>
        </li>
        <li>
            <input id="f4" type="checkbox"/>
            <label for="f4">4 contra 4</label>
        </li>
        <li>
            <input id="f5" type="checkbox"/>
            <label for="f5">5 contra 5</label>
        </li>
        <li>
            <label for="f6">Fecha</label>
            <input id="f6" type="date"/>
        </li>
    </ul>
</div>
</body>
</html>