.matches-container {
    border: 4px solid #FF7C00; /* Borde naranja */
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    background-image: url('../images/match-wallpaper-background.jpg');
    background-size: cover;
    background-position: center; /* Centra la imagen verticalmente */
    color: white;
    font-weight: bold;
}
.imagen-container img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.match-details {
    margin: 10px 0; /* Añade un margen superior e inferior de 10px */
    margin-right: auto; /* Empuja el contenedor hacia la izquierda */
}

.match-teams {
    align-self: flex-start; /* Alinea este elemento a la izquierda */
    flex-direction: column;
}

/* Utilizamos un selector más específico para aumentar la prioridad */
.matches-container .texto-titulo-partido {
    color: white;
}

.teamB-container,
.teamA-container {
    border: 4px solid #FF7C00; /* Borde naranja */
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center; /* Alinea horizontalmente los elementos al centro */
    align-items: center; /* Alinea verticalmente los elementos al centro */
    background-color: white;
    color: #FF7C00;
    font-weight: bold;
    margin-bottom: 10px;
}

.texto-filtro {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 20px;
}

.user-container,
.addUser-container {
    margin-bottom: 10px; /* Agrega un margen en la parte inferior */
    margin-right: 10px; /* Agrega un margen a la derecha */
}

.boton-usuario,
.anadirse-button {
    border: 4px solid #FF7C00; /* Borde naranja */
    margin-right: 5px;
    padding: 20px;
    width: 120px;
    height: 100%;
    text-align: center;
    align-content: center;
    justify-content: center;
}
.imagen-container {
    position: relative; /* Posición relativa para superponer la línea */
    margin-bottom: 10px;
}

.imagen {
    width: 50px; /* Tamaño de la imagen */
    height: auto;
}

.linea {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #FF7C00;
}

.texto {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.location-container {
    border: 2px solid #FF7C00;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 200px;
    flex-grow: 1;
    background-color: white;
    text-decoration: none;
    color: inherit;
}
.texto-location {
    margin-right: 10px;
    font-weight: bold;
    color: #FF7C00; /* Color naranja */
    font-family: Arial, Helvetica, sans-serif;
}
.imagen-location {
    width: 20px; /* Ajusta el tamaño de la imagen según lo necesites */
    height: auto;
}