<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Definición de los partidos, equipos y jugadores</title>
    <link rel="stylesheet" href="match_details.css">
</head>
<body>
<div class="matches-container">
    <div class="match-details">
        <h1 class="texto-titulo-partido">Lore ipsum - 3X3</h1>
        <div class="location-container">
            <img class="imagen-location" src="../images/location-vector.png" alt="Imagen de ubicación">
            <span class="texto-location">Lore ipsum</span>
        </div>
        <h3 class="fecha-y-hora-db"></h3>
    </div>
    <div class="match-teams">
        <div class="teamA-container">
            <span class="texto-filtro">EQUIPO A</span>
            <button class="boton-usuario">
                <div class="imagen-container">
                    <img class="imagen" src="../images/user-icon.jpg" alt="Foto de perfil">
                    <div class="linea"></div>
                </div>
                <p class="texto">Lorem ipsum</p>
            </button>
            <button class="boton-usuario">
                <div class="imagen-container">
                    <img class="imagen" src="../images/user-icon.jpg" alt="Foto de perfil">
                    <div class="linea"></div>
                </div>
                <p class="texto">Lorem ipsum</p>
            </button>
            <button class="anadirse-button">
                <div class="imagen-container">
                    <img class="imagen" src="../images/plus-vector.png" alt="Add user">
                    <div class="linea"></div>
                </div>
                <p class="texto">APUNTARSE</p>
            </button>
        </div>
        <div class="teamB-container">
            <span class="texto-filtro">EQUIPO B</span>
            <button class="boton-usuario">
                <div class="imagen-container">
                    <img class="imagen" src="../images/user-icon.jpg" alt="Foto de perfil">
                    <div class="linea"></div>
                </div>
                <p class="texto">Lorem ipsum</p>
            </button>
            <button class="anadirse-button">
                <div class="imagen-container">
                    <img class="imagen" src="../images/plus-vector.png" alt="Add user">
                    <div class="linea"></div>
                </div>
                <p class="texto">APUNTARSE</p>
            </button>
            <button class="anadirse-button">
                <div class="imagen-container">
                    <img class="imagen" src="../images/plus-vector.png" alt="Add user">
                    <div class="linea"></div>
                </div>
                <p class="texto">APUNTARSE</p>
            </button>
        </div>
    </div>
</div>
<script src="../scripts/functionalities.js"></script>
<script>
    // Llama a la función después de cargar el contenido del DOM
    document.addEventListener('DOMContentLoaded', function () {
        cargarDetallesPartido();
        // Otras funcionalidades que desees ejecutar al cargar la página
    });
</script>
</body>
</html>
