<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Definición de los partidos, equipos y jugadores</title>
    <link rel="stylesheet" href="match_details.css">
    <script src="../scripts/add_myself.js"></script>
    <script src="../scripts/selectedLocation.js"></script>
</head>
<body>
<div class="matches-container">
    <div class="match-details">
        <h1 class="texto-titulo-partido">Lore ipsum - 3X3</h1>
        <!-- Modificamos el enlace para que redirija a los detalles de la cancha -->
        <a href="../canchas/cancha_details_page.html" class="location-container location-link" onclick="storeSelectedLocation('${partido.lugar}')">
            <img class="imagen-location" src="../images/location-vector.png" alt="Imagen de ubicación">
            <span class="texto-location">${partido.lugar}</span>
        </a>
        <span class="fecha-y-hora">2024-04-02, 12:30</span>
    </div>
    <div class="match-teams">
        <div class="teamA-container">
            <span class="texto-filtro">EQUIPO A</span>
        </div>
        <div class="teamB-container">
            <span class="texto-filtro">EQUIPO B</span>
        </div>
    </div>
</div>
</body>
</html>