.datos-personales {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    text-align: left;
}

.datos-personales ul {
    list-style-type: none;
    margin: 0 300px 0 0;
    font-weight: bold;
}

.datos-personales ul:last-child {
    margin-right: 0;
}

.datos-personales ul li {
    margin-bottom: 30px;
}

.datos-personales ul li:last-child {
    margin-bottom: 0;
}
@media screen and (max-width: 768px) {
    main {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .nombre,
    .altura,
    .isla,
    .categoria,
    .posicion,
    .municipio {
        width: 100%;
        text-align: center;
    }
}