<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="personal_info.css">
</head>
<body>
<main class="datos-personales">
    <ul>
        <li class="nombre">Nombre: Lore Ipsum</li>
        <li class="altura">Altura: Lore Ipsum</li>
        <li class="isla">Isla: Lore Ipsum</li>
        <li class="categoria">Categoría: Lore Ipsum</li>
        <li class="posicion">Posición: Lore Ipsum</li>
        <li class="municipio">Municipio: Lore Ipsum</li>
    </ul>
</main>
</body>
</html>