<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Definición de los jugadores en los equipos</title>
    <link rel="stylesheet" href="teamPlayers.css">
    <link rel="stylesheet" href="addUser-viewport.css">
</head>
<body>

<div class="players-container">
    <span class="texto-filtro">EQUIPO A</span>
    <div id="user-container"></div>
    <div id="addUser-container"></div>
</div>

<script>
    // Cargar el componente de filtros utilizando JavaScript
    fetch("addUser-viewport.html")
        .then(response => response.text())
        .then(html => {
            document.getElementById("addUser-container").innerHTML = html;
        });

    // Cargar el componente de añadir partido utilizando JavaScript
    fetch("user-viewport.html")
        .then(response => response.text())
        .then(html => {
            document.getElementById("user-container").innerHTML = html;
        });
</script>
</body>
</html>