<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <link rel="stylesheet" href="footer.css">
    <script src="https://kit.fontawesome.com/30a943314d.js" crossorigin="anonymous"></script>
</head>
<body>
<footer>
    <div class="footer-content">
        <img src="/images/logoFooterLetras.png" alt="Logo" class="logo">
        <ul class="socials">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
        <h3>Court Link</h3>
        <img src="/images/logoWebPrincipal.png" alt="Logo" class="logo">
        <ul class="footer-links">
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Nota legal</a></li>
            <li><a href="#">Cookies</a></li>
        </ul>
        <ul class="footer-links">
            <li><a href="#">Quiénes somos</a></li>
            <li><a href="#">Política de privacidad</a></li>
            <li><a href="#">Preguntas frecuentes</a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>Copyright &copy;2024 Court Link. </p>
    </div>
</footer>
</body>
</html>
