* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    align-items: center;
    justify-content: space-between;
    background: #111;
    height: auto;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    color: #ff7c00;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 200px;
    padding: 0 20px; /* Ajustar el espaciado lateral */
}
.footer-image-container {
    display: flex;
    flex-direction: column; /* Cambiamos la dirección a columna */
    align-items: flex-start; /* Centramos los elementos horizontalmente */
}
.logo {
    width: 180px; /* Ajusta el tamaño según tu diseño */
    height: auto;
    margin-bottom: 10px; /* Ajustamos el margen inferior */
}
.footer-lema {
    margin-top: 10px; /* Ajustamos el margen superior */
    text-align: left;
}
.socials {
    list-style: none;
    display: flex;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: #ff7c00;
}

.footer-links {
    list-style: none;
    margin-top: 10px; /* Espacio entre las dos columnas */
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    transition: color .4s ease;
}

.footer-links a:hover {
    color: #ff7c00;
}

.footer-bottom {
    background: #000;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}