<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer modelado</title>
    <link rel="stylesheet" href="footerStyle.css">
</head>
<body>
<footer class="footer-footer">
    <div class="footer-container1">
        <img alt="logo" src="../Images/logoFooterLetras.png" class="footer-image"/>
        <span class="footer-text">
          <span>© 2024 Courtlink,</span>
          <br/>
          <span>All Rights Reserved.</span>
        </span>
        <span class="footer-text04">
          <span>Conecta.</span>
          <br/>
          <span>Juega.</span>
          <br/>
          <span>Disfruta.</span>
        </span>
        <div class="footer-icon-group">
            <img alt="image" src="../Images/instagram.png" class="footer-image1"/>
            <img alt="image" src="../Images/twitterX.png" class="footer-image2"/>
            <a
                    href="https://www.youtube.com/@CourtlinkBasketball"
                    target="_blank"
                    rel="noreferrer noopener"
                    class="footer-link"
            >
                <img alt="image" src="../Images/youtube.png" class="footer-image3"/>
            </a>
        </div>
    </div>
    <div class="footer-links-container">
        <div class="footer-container2">
            <div class="footer-container3">
                <span class="footer-text10">Sitio web</span>
                <span class="footer-text11">Características</span>
                <span class="footer-text12">Desarrollo</span>
                <span class="footer-text13">Proyecto</span>
                <span class="footer-text14">Preguntas frecuentes (FAQ)</span>
            </div>
            <div class="footer-container4">
                <span class="footer-text15">Courtlink Basketball</span>
                <span class="footer-text16">Sobre nosotros</span>
                <span class="footer-text17">Desarrolladores</span>
                <span class="footer-text18">Contacto</span>
            </div>
        </div>
        <div class="footer-container5">
            <div class="footer-container6">
                <span class="footer-text19">Soporte</span>
                <span class="footer-text20">Términos de servicio</span>
                <span class="footer-text21">Política de privacidad</span>
                <span class="footer-text22">Legal</span>
                <span class="footer-text23">Ayuda</span>
            </div>
        </div>
    </div>
</footer>
</body>
</html>