<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <link rel="stylesheet" href="footer.css">
</head>
<body>
<footer class="footer-footer">
    <div class="footer-container1">
        <img alt="logo" src="../images/logoFooterLetras.png" class="footer-image"/>
        <span class="footer-text">
          <span>© 2024 Courtlink,</span>
          <br/>
          <span>All Rights Reserved.</span>
        </span>
        <span class="footer-text1">
          <span>Conecta.</span>
          <br/>
          <span>Juega.</span>
          <br/>
          <span>Disfruta.</span>
        </span>
        <div class="footer-icon-group">
            <img alt="image" src="../images/instagram.png" class="footer-image1"/>
            <img alt="image" src="../images/twitterX.png" class="footer-image2"/>
            <a
                    href="https://www.youtube.com/@CourtlinkBasketball"
                    target="_blank"
                    rel="noreferrer noopener"
                    class="footer-link"
            >
                <img alt="image" src="../images/youtube.png" class="footer-image3"/>
            </a>
        </div>
    </div>
    <div class="footer-links-container">
        <div class="footer-links-container1">
            <div class="footer-sitioweb">
                <span class="footer-text2">Sitio web</span>
                <span class="footer-text5">Características</span>
                <span class="footer-text5">Desarrollo</span>
                <span class="footer-text5">Proyecto</span>
                <span class="footer-text5">Preguntas frecuentes (FAQ)</span>
            </div>
            <div class="footer-contacts">
                <span class="footer-text3">Courtlink Basketball</span>
                <span class="footer-text5">Sobre nosotros</span>
                <span class="footer-text5">Desarrolladores</span>
                <span class="footer-text5">Contacto</span>
            </div>
            <div class="footer-soporte">
                <span class="footer-text4">Soporte</span>
                <span class="footer-text5">Términos de servicio</span>
                <span class="footer-text5">Política de privacidad</span>
                <span class="footer-text5">Legal</span>
                <span class="footer-text5">Ayuda</span>
            </div>
        </div>
    </div>
</footer>
</body>
</html>