<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <link rel="stylesheet" href="footer.css">
</head>
<body>
<footer>
    <div class="footer-content">
        <div class="footer-image-container">
            <img src="/images/imagen-footer.png" alt="Logo" class="logo">
            <p class="footer-lema">Juega.<br>Conecta.<br>Disfruta.</p>
        </div>
        <!--
        <ul class="socials">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
        -->
        <ul class="socials">
            <li><a href="#"><img class="fa fa-facebook" src="../images/Facebook_logo_(square).png" alt="Facebook"></a></li>
            <li><a href="#"><img class="fa fa-twitter" src="../images/twitterX.png" alt="Twitter"></a></li>
            <li><a href="#"><img class="fa fa-google-plus" src="../images/Google_Plus_logo_(2015-2019).svg.png" alt="Google Plus"></a></li>
            <li><a href="#"><img class="fa fa-youtube" src="../images/youtube.png" alt="YouTube"></a></li>
            <li><a href="#"><img class="fa fa-linkedin-square" src="../images/LinkedIn_icon.png" alt="LinkedIn"></a></li>
        </ul>
        <h3>Courtlink&copy; Basketball</h3>
        <ul class="footer-links">
            <li><a href="#">Contacto</a></li>
            <li><a href="../nosotros_terms/terms_and_conditions_page.html">Nota legal</a></li>
            <li><a href="#">Cookies</a></li>
        </ul>
        <ul class="footer-links">
            <li><a href="#">Quiénes somos</a></li>
            <li><a href="#">Política de privacidad</a></li>
            <li><a href="#">Preguntas frecuentes</a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>Copyright 2024 Courtlink&copy; Basketball </p>
    </div>
</footer>
</body>
</html>