* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fcfcfc;
}

footer {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    padding-top: 40px;
    color: #ff7c00;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px; /* Ajustar el espaciado lateral */
}

.logo {
    width: 100px; /* Ajusta el tamaño según tu diseño */
    height: auto;
}

.socials {
    list-style: none;
    display: flex;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: #ff7c00;
}

.footer-links {
    list-style: none;
    margin-top: 10px; /* Espacio entre las dos columnas */
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    transition: color .4s ease;
}

.footer-links a:hover {
    color: #ff7c00;
}

.footer-bottom {
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
