<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header sin Login modelado</title>
    <link rel="stylesheet" href="headerStyle.css">
</head>
<body>
<header class="header">
    <div class="header__logo-container">
        <img src="../Images/logoWebPrincipal.png" alt="Login" class="header__logo">
    </div>
    <nav class="header__nav">
        <ul>
            <li><a href="#" class="header__nav-button">INICIO</a></li>
            <li><a href="#" class="header__nav-button">PARTIDOS</a></li>
            <li><a href="#" class="header__nav-button">CANCHAS</a></li>
            <li><a href="#" class="header__nav-button">MVPs</a></li>
            <li><a href="#" class="header__nav-button">NOSOTROS</a></li>
        </ul>
    </nav>
    <div class="header__login-container">
        <button class="header__login-button">Iniciar sesión</button>
    </div>
</header>
</body>
</html>