<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Header</title>
    <link rel="stylesheet" href="header.css">
    <script src="templatesEvents.js"></script>
</head>
<body>
<header class="header">
    <img src="../images/logoWebPrincipal.png" alt="Courtlink© Logo" class="header_logo">
    <nav class="navbar">
        <a href="../homepage/homepage.html" class="header_nav_button">INICIO</a>
        <a href="../partidos/partidos_page.html" class="header_nav_button">PARTIDOS</a>
        <a href="../canchas/canchas_page.html" class="header_nav_button">CANCHAS</a>
        <a href="../mvps/mvps_page.html" class="header_nav_button">MVPs</a>
        <a href="../nosotros_terms/nosotros_page.html" class="header_nav_button">NOSOTROS</a>
    </nav>

    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Mi Perfil</button>
        <div id="myDropdown" class="dropdown-content">
            <a href="../profile/own_profile.html">Ver Perfil</a>
            <a href="#">Cerrar Sesión</a>
        </div>
    </div>
</header>
</body>
<script>
    /* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }

</script>
</html>